@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* === cores definidas === */
:root{
    --primary-color: #3525d3;
    --white-color: #fff;
    --black-color: #3C4A57;
    --light-gray: #E4E8EE;
}
/* === base body ==*/
body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #cceef0;
}

.inicio{
    padding: 50px 20px 0;
    max-width: 668px;
    width: 100%;
    margin: auto;
}


.inicio .cabecalho{
    text-align: center;
    padding-bottom: 48px;
}
.inicio .cabecalho h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}
.inicio .forma{
    max-width: 350px;
    width: 100%;
    margin: auto;
}
.inicio .form-group{
    margin-bottom: 15px;
}
.inicio .form-group input{
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding: 11px 15px;
    height: 48px;
    border-radius: 10px;
    color: var(--black-color);
    border: 1px solid;
    box-shadow: none;
    width: 100%;
}

.inicio .form-group input:focus{
    outline: none;
}
.inicio .form-group input::placeholder{
    color:var(--black-color);
    font-weight: 400;
    font-size: 14px;
}
.inicio .btn{
    width: 100%;
    margin: 15px 0 30px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    padding: 12px 29px;
    height: 48px;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.inicio.btn:focus{
    outline: none;
}
.inicio .account-exist{
    color: var(--black-color);
    border-top: 1px solid;
    padding-top: 20px;
    text-align: center;
}

.inicio .account.exist a{
    color: var(--primary-color);
}
.inicio .esqueci-a-senha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.inicio .esqueci-a-senha a{
    color: var(--primary-color);
}
.inicio .esqueci-a-senha .check-box{
    font-size: 15px;
    color: var(--black-color);
}

.signup.inActive{
    display: none;
}
.signin{
    display: none;
}
.signin.active{
    display: block;
}

@media (max-width:1030px){
    .inicio::before{
        left: -25%;
        min-width: 60vh;
        height: 500px;
    }
}
@media (max-width:767px){
    .inicio{
        min-width: 550px;
    }
    .inicio .cabecalho h1{
        font-size: 22px;
        line-height: 25px;
    }
}

.waves{
    position: relative;
    width: 130%;
    overflow: hidden;
}

.wave1{
    animation: movewave1 5s ease-in-out   infinite alternate;
}


@keyframes movewave1{
    from{
        transform: translateX(40px);
    }
}
.wave2{
    animation: movewave2 3s 1s ease-in-out   infinite alternate;
}


@keyframes movewave2{
    from{
        transform: translateX(20px);
    }
}
.wave3{
    animation: movewave3 4s 0.7s ease-in-out   infinite alternate;
}


@keyframes movewave3{
    from{
        transform: translateX(30px);
    }
}